#stev_header_bkg {
  width: 100%;
  display: flex;
  background: none;
  background-color: var(--bg) !important;
  margin-top: 0;
  padding-top: 1.2rem;
  border: none !important;
  position: fixed;
  z-index: 99;
  box-shadow: 0 2px 15px -7px rgba(0, 0, 0, 0.2);

  #stev_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: initial !important;
    height: initial;
    background: none;
    background-color: var(--bg) !important;
    border: none !important;
    padding-bottom: 0.6rem;

    & > * {
      display: flex;
    }

    #stev_module_ico {
      flex-grow: 1;
      margin-left: 0.45rem;
      margin-top: 0.8rem;
      font-weight: 700;

      &::after {
        content: "SIS CUNI";
        font-family: "Roboto";
        font-weight: 300;
        letter-spacing: 1px;
        color: var(--primary) !important;
        display: block;
        padding-top: 0.45rem;
      }

      img {
        display: none;
        border: none;
        width: 34px;
        height: 34px;
      }
    }

    #stev_nazev {
      display: none;
    }

    #stev_logo {
      display: none;
    }

    #stev_role_icons {
      display: flex;
      width: 100vw;
      flex-direction: row-reverse;
      padding-right: 1rem;

      #stev_role {
        display: flex;
        text-align: center;
        font-size: 0.5rem;

        * {
          font-size: 0.9rem !important;
          font-weight: 400;
        }

        #stev_user_roles {
          display: none;
          position: fixed;
          top: 2.5rem;
          left: 0;
          right: 0;
          overflow: hidden;
          margin: 0 60px;
          overflow: hidden;

          #stev_datum {
            display: none;
          }
        }

        #stev_jmeno,
        #stev_user_roles_fak {
          display: none;
        }
      }

      #stev_icons {
        display: none;
      }

      &:hover #stev_icons {
        display: flex;
        flex-direction: column;
        position: fixed;
        background: white;
        top: 5.2rem;
        right: 0;
        box-shadow: 2px 10px 15px -6px rgba(150, 150, 150, 0.3);
        z-index: 99;
        left: 20%;
        padding: 0 1rem;

        a {
          background: none;
          display: block;
          width: initial;
          height: initial;
          text-align: left;
          line-height: 1;
          font-size: 1rem;
          padding: 1.5rem 0.5rem;

          &::after {
            content: attr(title);
          }
        }

        #stev_layout {
          display: none;
        }

        #stev_settings {
          order: 2;
          padding-top: 0;

          &::after {
            content: "Osobní info, nastavení, e-mail";
          }
          .lang_en &::after {
            content: "Settings, profile, email";
          }
        }

        #stev_logoff {
          order: 3;
          border-bottom: none !important;

          &::after {
            content: "Odhlásit se";
          }
          .lang_en &::after {
            content: "Log off";
          }
        }

        #stev_help {
          display: none;
        }

        #stev_report {
          display: none;
        }

        

        #stev_lang_en::after {
          content: "English";
        }
        #stev_lang_cz::after {
          content: "Čeština";
        }
      }



      &::after {
        content: "";
        background: url(https://raw.githubusercontent.com/feathericons/feather/master/icons/menu.svg);
        filter: invert() brightness(80%);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        margin-top: 0.8rem;
        position: relative;
        width: 34px;
        height: 34px;
        padding-top: 2px;
      }
    }

    #flogin {
      display: none !important;
    }

    #stev_notify {
      position: absolute;
      z-index: 9999;
      background: none;
      top: 2.7rem;
      right: 5rem;

      &::after {
        content: "";
        display: block;
        background: url(https://raw.githubusercontent.com/feathericons/feather/master/icons/bell.svg);
        filter: invert() brightness(80%);
        width: 24px;
        height: 24px;
      }
    }

    #stev_notify_bar {
      position: absolute;
      top: 5.2rem !important;
      left: 1rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      border: none;
      background-color: var(--bg);
      box-shadow: 2px 10px 15px -6px rgba(150, 150, 150, 0.3);

      &.notif-open {
        display: flex;;
      }

      #stev_notify_counter {
        border: none !important;
      }

      #zadnenove {
        min-height: 200px;
        display: flex;
        justify-content: center;
        font-size: .9rem;
        flex-direction: column;

        &::after {
          content: "(žádné notifikace)";
          display: block;
          line-height: 2;
          text-align: center;
          margin-top: -1.4rem;
          background: var(--bg);
          letter-spacing: .1px;
        }

        .lang_en &::after {
          content: "(no notification)";
        }
      }

      .more {
        background: var(--bg);
        padding: 1rem 0;
        border-top: none;
        font-size: 1.2rem;
      }
    }
  }
}

.body-with-login {
  #stev_header_bkg {
    position: static;

    #stev_header {
      height: 100vh;
      flex-direction: column;

      & > * {
        display: flex;
      }

      #stev_nazev,
      #stev_module_ico,
      #stev_header,
      #stev_role_icons,
      #stev_role {
        white-space: normal;
      }

      #stev_module_ico img {
        display: none;
      }

      #stev_module_ico::before {
        content: "SIS CUNI";
        color: var(--primary);
        font-family: var(--heading);
        font-weight: 100;
        display: block;
        position: absolute;
        top: 20%;
        text-align: center;
        left: 0;
        right: 0;
        font-size: 3rem;
      }

      #stev_module_ico::after {
        content: "Studijní informační systém";
        display: block;
        position: absolute;
        top: calc(20% + 60px);
        text-align: center;
        left: 0;
        right: 0;
        font-size: 1rem;
        letter-spacing: 0.2px;
      }

      #stev_role_icons {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
      }

      #stev_role,
      #stev_role_prihlaseni,
      #stev_role_prihlaseni #flogin {
        display: flex !important;
      }

      #stev_role_icons::after {
        content: none;
      }

      #stev_nazev_modulu_sverzi {
        display: flex;
        flex-direction: column;
      }

      #stev_nazev_modulu {
        padding-left: 1rem;
      }

      #verze_modulu {
        margin-left: 1rem;
      }

      #stev_role_prihlaseni {
        height: 100%;
      }

      #stev_icons {
        display: none !important;
      }

      #flogin {
        display: block !important;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 3rem 1rem 0;
        text-align: left;
        justify-content: flex-end;

        input[type="text"],
        input[type="password"] {
          width: 100% !important;
          min-width: 0;
          background: white !important;
          border-radius: 0;
          border: none;
          margin-top: -0.5rem;
          margin-bottom: 1rem;
          padding: 0.6rem;
          border: 1px solid var(--grey-100);
          border-bottom: 2px solid var(--primary);
        }

        input[type="submit"] {
          order: 10;
          margin-top: 2rem;
          border-radius: 0;
          padding: 0.7rem 1.4rem !important;
          background-color: var(--primary);
          color: var(--bg) !important;
          letter-spacing: 0.3px;
          font-family: var(--heading) !important;
          font-weight: 300 !important;
          letter-spacing: 1.5px !important;
        }

        label {
          width: 100%;
          margin-bottom: 0;
        }

        label[for="chkAutologin"] {
          width: calc(100% - 40px);
          margin-top: 0.65rem;
          margin-left: 0.6rem;
          color: var(--text);
        }

        #chkAutologin {
          width: initial;
          margin-top: 0.8rem;
        }
      }
    }
  }

  .but1,
  .but_next,
  .but_find,
  #flogin input[type="submit"] {
    background: var(--bg);
    color: var(--primary) !important;
  }

  .but1 a,
  .but_next a,
  .but_find a {
    color: var(--primary) !important;
  }
}
