html {
  background: #eee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 20px;
  color: #666;
  min-height: 100vh;

  --heading: "Roboto";

  --primary: #9f3853;
  --primary-light: #e0a0b1;
  --text: #333;
  --bg: #fff;
  --grey-50: #f9f0f0;
  --grey-100: #dbd7d8;
  --grey-200: #c0bcbe;
  --grey-300: #a7a2a4;
  --grey-400: #8e888a;
  --grey-500: #756e70;
  --grey-600: #5b5557;
  --grey-700: #423d3f;
  --grey-800: #292425;
  --grey-900: #130a0f;
}

* {
  box-sizing: border-box !important;
}

a {
  color: var(--primary) !important;
}

table,
tr,
td,
a,
select,
input,
div,
span,
pre,
code,
form {
  font-size: inherit;
}

body > table,
body > table > tbody,
body > table > tbody > tr,
body > table > tbody > tr > td {
  display: block;
  position: relative;
}

.__debug {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg);
  border-top: 1px dotted red;
  font-size: 0.8rem;
  padding: 0.3rem;
}
