body > table .menu {
  display: flex;
  margin-top: 0 !important;
  width: 100%;
  font-size: 1rem;

  * {
    border: none !important;
  }

  .menu1 {
    display: flex;
    font-size: 1rem;
    padding: 1.2rem 0 1rem;
    background: var(--bg) !important;
    box-shadow: 2px 2px 15px -5px rgba(0,0,0,.3);
    width: 100vw;
    overflow-x: scroll;
    position: fixed;
    top: 71px;
    z-index: 80;

    td {
      display: flex;
      color: var(--text) !important;
    }

    .session {
      display: none;
    }

    .ico {
      background: transparent !important;

      a {
        display: none;
      }

      a.home {
        display: none;
        background: none !important;
        width: initial;
        height: initial;
        white-space: nowrap;
        text-decoration: none !important;
        margin: 0 1rem;
        font-size: 1.5rem;
        line-height: .9;

        &::after {
          content: "←";
          font-weight: 700;
          color: var(--text) !important;
        }
      }
    }

    
  }

  .menu2 {
    display: flex;
    background: var(--grey-600);
    width: 100vw;
    overflow: scroll;
    position: relative;
    padding: 0;
    z-index: 0;
    top: 126px;

    td:first-child {
      display: none;
    }
    a {
      color: white !important;
      line-height: 3;
    }

    .menu_empty {
      display: none;
    }
  }

  .menu_a {
    background: none !important;
    color: var(--primary) !important;
  }

  .menu {
    color: var(--text) !important;
  }
}