/* 
  Alerts
*/

.warning,
.error,
.info {
  display: flex;
  width: calc(100vw - 2rem);

  tbody,
  tr {
    display: flex;
    width: 100%;
    padding: 0 !important;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
  }

  td {
    padding: .5rem;
  }

  td:first-child {
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    width: 32px;

    img {
      display: none;
    }
  }

  td:nth-child(2) {
    display: flex;
    border: none !important;
    width: 100%;
    font-size: .9rem;
    line-height: 1.4;

    ul {
      list-style-type: none;
      margin: 0 !important;
      font-size: 1rem;
    }
  }
}

.warning {
  background:#f6e05e;
  td {
    background: #fffff0;
  }
  .warning_ico {
    background: url(https://raw.githubusercontent.com/AlfonzAlfonz/sis-cuni/master/icons/alert-triangle.svg);
    filter: brightness(0%);
  }
}

.info {
  background: #63b3ed !important;
  td {
    background: #ceedff;
  }
  .info_ico {
    background: url(https://raw.githubusercontent.com/AlfonzAlfonz/sis-cuni/master/icons/info.svg);
    filter: brightness(100%);
  }
}

.error {
  background: #9b2c2c !important;
  td {
    background: #f56565;
  }
  .error_ico {
    background: url(https://raw.githubusercontent.com/AlfonzAlfonz/sis-cuni/master/icons/info.svg);
    filter: brightness(100%);
  }
}
