.body-with-homepage {
  #content {
    align-items: stretch;
    margin-top: 0;

    & > div[style]:not([id]):not([class]) {
      display: block !important;
    }

    & > div[style]:not([id]):not([class]):nth-child(even) {
      margin-top: 1rem;
      margin-bottom: 0 !important ;
      padding: 0.5rem !important;
      letter-spacing: 1px;
    }

    & > div[style]:not([id]):not([class]):nth-child(odd) {
      background: var(--bg) !important;
      br {
        display: block;
      }
    }

    & > div[style="border: 1px solid #C0C0C0; margin-bottom: 5px;background: #F5F5F5; padding: 3px 8px 3px 8px ;"] {
      .link5 {
        width: initial !important;
        height: initial !important;
        line-height: 4;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        border: none;
        margin: 0 !important;

        img {
          vertical-align: middle;
          margin-right: 0.8rem !important;
        }
        
        :hover {
          background: transparent;
        }
      }

      * {
        float: none !important;
        margin: none !important;
      }
    }

    div:first-of-type + div {
      font-size: 12px;
    }

    div:nth-of-type(odd) {
      font-size: 1rem;
    }
  }

  .menu {
    display: none;
  }
}
