/*
  Studijní mezivýsledky (grupicek)
*/

body[data-module="grupicek"][data-page="index"] {
  .tab1 {
    display: flex;
    font-size: .9rem;

    * {
      border: none !important;
    }

    tbody {
      display: flex;
      flex-direction: column;
    }

    .head1 {
      display: none;
    }

    .row1,
    .row2 {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      margin: 1rem 0;
      padding: 1rem;
      background-color: var(--bg) !important;

      td {
        width: 100%;
        background-color: var(--bg) !important;

        nobr {
          white-space: normal;
        }
      }

      // ???
      td:nth-child(1) {
        display: none;
      }


      // detail link
      td:nth-child(2) {
        order: 11;
        width: 50%;
        text-align: right;
        display: none;

        a {
          &::after {
            content: "Detail";
          }
          img {
            display: none;
          }
        }
      }

      // year
      td:nth-child(3) {
        display: none;
      }

      // code
      td:nth-child(4) {
        order: 0;
        width: 50%;
      }

      // type
      td:nth-child(5) {
        order: 0;
        width: 50%;
        text-align: right;
        font-style: italic;
        font-weight: 100;
      }

      // name
      td:nth-child(6) {
        order: 0;
        font-size: 1.1rem;
        padding-bottom: .5rem;
      }

      // time/place
      td:nth-child(7) {
        order: 0;
        width: 100%;
      }

      // ticket
      td:nth-child(8) {
        display: none;
      }

      // note
      td:nth-child(9) {
        display: none;
      }
    }
  }
  .tab1 + div {
    display: none;
  }
}

body[data-module="grupicek"][data-page="vysledky_studenta"] {
  .form_div.pageBlock {
    .form_div_title {
      display: none;
    }
  }

  form[name="vysledky_form"] {
    width: calc(100vw - 2rem);
    margin: 0 1rem;
    font-size: 0.8rem;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);

    div[style="font-style: italic; color: #333; margin: 5px 0px 8px 0px; background-color: #F0F0F0; padding: 1px;"] {
      background-color: var(--bg) !important;
      & > span {
        display: none;
      }
    }
  }
}
