body[data-module="zkous_st"][data-do="prehled"],
body[data-module="zkous_st"]:not([data-do]) {

  .form_div.pageBlock {
    table tbody {
      display: flex;
      flex-direction: column;

      td {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
