@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background: #262626;

    --primary: #9f3853;
    --text: #ddd;
    --bg: #262626;
    --grey-100: #dbd7d8;
    --grey-200: #c0bcbe;
    --grey-300: #a7a2a4;
    --grey-400: #8e888a;
    --grey-500: #756e70;
    --grey-600: #5b5557;
    --grey-700: #423d3f;
    --grey-800: #292425;
    --grey-900: #130a0f;
  }
}

@media (prefers-color-scheme: dark) {
  .menu .ico .home::before,
  .menu .ico .print::before {
    color: var(--text);
  }
}

@media (prefers-color-scheme: dark) {
  a.menu,
  a.menu_a {
    color: var(--text) !important;
  }
}